    <header>
        <!-- HEADER -->
        <div class="container-fluid" id="main">
            <div class="branding col-4">
                <h1><a href="/">BWST</a></h1>
            </div>
            <div class="mainmenu col-8">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/items">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#contact">Contact</a>
                        </li>
                </ul>
            </div>
        </div>
    </header>