<div class="admin">
    <h3>Creat a new item</h3>
</div>
<div class="createContainer">
    <form action="/create" method="POST">
        <input type="text" name="title" placeholder="title"><br>
        <input type="number" name="price" placeholder="price"><br>
        <textarea name="description" placeholder="Description of item .." style="height:200px"></textarea><br>
        <a class="btn btn-primary btn-lg" href="/create" type="submit">Create item</a>
    </form>
</div>
