    <!-- Section 1 -->
    <div class="section1">
        <div>
            <a id="signIn" class="btn btn-outline-danger btn-lg" href="/items" role="button">Shop now</a>
        </div>
        {{!-- <video autoplay muted loop id="myVideo">
  <source src="/images/Boxing.mp4" type="video/mp4">
</video> --}}
    </div>
    <!-- Section2 -->
    <div class="section2">
        <div>
            <a id="signIn" class="btn btn-outline-danger btn-lg" href="/About" role="button">About us</a>
        </div>
    </div>
    <!-- Section3 -->
    <div class="section3">
        <div>
            
            <a id="signIn" class="btn btn-outline-danger btn-lg" href="Testomonials" role="button">Testomonials</a>
        </div>
    </div>

    <!-- Section4 -->

    <hr class="new4">
    <div id="contact" class="bottom">
        <span class="border-top border-danger"></span>
        <div class="row">
            <div class="col-3 col-sm-6 col-es-12 col-md-6 col-lg-3 text-secondary">
                <h5 class="h5 text-white">CF</h5>
                <p>CF is empirically driven, clinically tested, and community developed. We define fitness as increased work capacity across broad time and modal domains. Capacity is the ability to do real work, which is measurable using the basic terms
                    of physics (mass, distance, and time).</p>
            </div>
            <div class="col-3 col-sm-6 col-es-12 col-md-6 col-lg-3">
                <h5 class="h5 text-white">DIRECTIONS</h5>
                <nav class="nav flex-column">
                    <a class="nav-link text-secondary" href="#">Shop</a>
                    <div class="border-top my-0"></div>
                    <a class="nav-link text-secondary" href="#">About</a>
                    <div class="border-top my-0"></div>
                    <a class="nav-link text-secondary" href="#">Sign up</a>
                    <div class="border-top my-0"></div>
                </nav>
            </div>
            <div class="col-3 col-sm-6 col-es-12 col-md-6 col-lg-3 text-secondary">
                <h5 class="h5 text-white">Contact us</h5>
                <a class="nav-link active text-secondary" href="#">E-mail</a>
                <div class="border-top my-0"></div>
            </div>
            <div class="col-3 col-sm-6 col-es-12 col-md-6 col-lg-3 text-secondary">
                <h5 class="h5 text-white">INTERESTING ARTICLES</h5>
                <a class="nav-link active text-secondary" href="#">Read all about BWST</a>
                <div class="border-top my-0"></div>
                <a class="nav-link active text-secondary" href="#"> SAS VS BAS</a>
                <div class="border-top my-0"></div>
                <a class="nav-link active text-secondary" href="#"> 30 Day hanging routine</a>
                <div class="border-top my-0"></div>
                <a class="nav-link active text-secondary" href="#"> Intermitted fasting</a>
                <div class="border-top my-0"></div>
            </div>
        </div>
    </div>
   




   