<h1>DETAILS OF PRODUCT: {{items.title}}</h1>
<p>Here is a description of the product: {{items.description}}</p><br>
<img src="{{items.image}}">
<p>This item's Price is: {{items.price}}€</p><br>

<a href="/items">go back to Shop</a>
