<h1> LIST OF ITEMS</h1>

{{#each items}}
<h2>{{title}}</h2>
<h2>Price:{{price}}</h2>
<a href="test">delete Item</a>

<img src="{{image}}">
<a href="/itemdetail/{{_id}}">go to detail page</a><br>


{{/each}}