<html>
    <h1>Sign Up to BWST</h1>
<form action="/user/signup" method="POST">
    <input type="text" required name="firstName" placeholder="first name" />
    <input type="text" required name="lastName" placeholder="last name" />
    <input type="text" required name="username" placeholder="username" />
    <input type="password" required name="password" placeholder="password" />
    <button type="submit">Sign up</button>
</form>
</html>