body {
    margin: 0;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.418);
}


/* Section 1 Shop now*/

#signIn {
    position: absolute;
}

.section1 {
    width: 100%;
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}


/* Section 2 About us */

.section2 {
    background-color: rgba(77, 70, 83, 0.363);
    display: block;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}


/* Section 3 Carousel */

.carousel-img {
    width: 100%;
    height: 80vh;
}

#carousel {
    background-color: #e5dfdf;
    justify-content: center;
}


/* Section 4 Bottom part */

.bottom {
    background-color: rgb(77, 70, 83, 0.363);
    box-sizing: border-box;
    font-size: small;
    padding: 25px 150px;
}