img {
    width: 150px;
    height: 150px;
}

.itemSection1 {
    display: flex;
    justify-content: center;
}

.itemSection1 img {
    height: 50vh;
    width: 80%;
    filter: grayscale(100%);
}

.itemMenu h3 {
    margin-bottom: 25px;
}


/* Section 2 */

.itemSection2 {
    display: flex;
    flex-direction: row;
}

.itemMenu {
    margin-top: 25px;
    padding-left: 20px;
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    flex-direction: column;
}

.section2 h3 {
    font-weight: bold;
    margin-bottom: 30px;
}


/* CARD */

#itemsDisplayed {
    display: flex;
    flex-direction: row;
    background-clip: border-box;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 30%;
    margin: 10px 5px;
    padding: 1%;
    text-align: center;
}

.card-title {
    margin-bottom: 0.5rem;
}


/* Detail page */

#containerDetail {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    height: 80vh;
    text-align: center;
}

.intoDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 2px;
}

.intoDetail img {
    width: 200px;
    height: 200px;
}