/* nav  */

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

li a {
    color: grey;
}

li a:hover {
    color: red
}

#main {
    display: flex;
}

.branding h1 a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: grey;
}

.mainmenu {
    display: flex;
    justify-content: flex-end;
}